<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="/home">Home</a>
        <h1>Welcome Noob! Let's get you acquainted!</h1>

    </body>
</html>
