<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>

        <% if(currentUser){ %>
            <h2>Hi <%=currentUser.username%>!</h2>
        <% } else { %>
            <h2>Hello Guest</h2>
        <% } %>


        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/gallery">Main Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/getting_started">New to Gunpla?</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/news_events">News and Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/resources">External Resources</a></li>

                <% if(currentUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/home/profile/:id/edit">Edit Profile</a>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/home/new_session">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/new_user">Register</a></li>
                <% } %>
            </ul>
        </nav>

        <form action="/home/profile?_method=DELETE" method="POST">
            <input type="submit" value="Logout">
        </form>

        <h1>Profile Page</h1>
        <img src="<%=currentUser.img%>" alt=""><br/>

        <h2>Submit your Kit!</h2>

        <form class="" action="/home/gallery" method="POST">
            Name: <input type="text" name="name"><br/>
            Grade: <select class="" type="text" name="grade">
                <option value="High Grade">High Grade</option>
                <option value="Real Grade">Real Grade</option>
                <option value="Master Grade">Master Grade</option>
                <option value="Perfect Grade">Perfect Grade</option>
                <option value="Other">Other</option>
            </select><br/>
            Image: <input type="text" name="img"><br/>
            Description: <textarea type="text" name="description"></textarea><br/>
            <input type="submit" value="SUBMIT">
        </form>



    </body>
</html>
