<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <a href="/home/index">Back to Gallery</a>
        </nav>

        <h1>Profile Page</h1>

        <form action="/home/index/profile?_method=DELETE" method="POST">
            <input type="submit" value="Logout">
        </form>

    </body>
</html>
